@primaryBackgroundColor: #000000;
@primaryTextColor: #ffffff;

@black:#000000;
@darkestGrey:#141414;
@darkGrey:#333333;
@white:#ffffff;
@red:#dc2700;
@blue:#049dcf;
@fluroGreen:#5ef706;
@feedbackGreen:#20ac06;
@feedbackRed:#fa5353;
@failRed:#cd0006;
@turquoise:#328CA6;
@lightBlue:#b5e0ed;
@linkBlue:#16bcdf;
@orange:#E78D15;
@medGrey:#1d1d1d;
@lightGrey:#3f3f3f;
@lighterGrey:#767676;
@lightestGrey:#8f8f8f;
@green:#65a40b;
@lightGreen:#478481;
@darkGreen:#267170;
@journeyGreen:#018104;
@loginPopupGrey:#eeeeee;
@accessibleBlue: #006cd0;
@accessibledarkGreen: #0a6262;
@accessibleDarkBlue: #005aa0;
@colorPrimaryActivated: #f97521;
@colorFont1stColor: #863a0b;

@mapNavBackgroundColor: #232830;
@mapNavBorderColor: #1e232b;
@mapNavActiveBorderColor: #fc7520;
