/*@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont?#iefix') format('embedded-opentype'),
       url('../fonts/lato-regular-webfont.woff') format('woff'),
       url('../fonts/lato-regular-webfont.ttf') format('truetype'),
       url('../fonts/lato-regular-webfont.svg#sf_comic_script_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/lato-bold-webfont.eot');
  src: url('../fonts/lato-bold-webfont?#iefix') format('embedded-opentype'), url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg#sf_comic_script_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'lato-italic';
    src: url('../fonts/lato-italic-webfont.eot');
    src: url('../fonts/lato-italic-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic-webfont.woff') format('woff'),
         url('../fonts/lato-italic-webfont.ttf') format('truetype'),
         url('../fonts/lato-italic-webfont.svg#sf_comic_script_condensedRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'lato-light';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont?#iefix') format('embedded-opentype'),
       url('../fonts/lato-light-webfont.woff') format('woff'),
       url('../fonts/lato-light-webfont.ttf') format('truetype'),
       url('../fonts/lato-light-webfont.svg#sf_comic_script_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'lato-light-italic';
    src: url('../fonts/lato-lightitalic-webfont.eot');
    src: url('../fonts/lato-lightitalic-webfont?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lightitalic-webfont.woff') format('woff'),
         url('../fonts/lato-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato-lightitalic-webfont.svg#sf_comic_script_condensedRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'source_sans_proregular';
  src: url('../fonts/sourcesanspro_regular-webfont.eot');
  src: url('../fonts/sourcesanspro_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro_regular-webfont.woff') format('woff'), url('../fonts/sourcesanspro_regular-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro_regular-webfont.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_prolight';
  src: url('../fonts/sourcesanspro_light-webfont.eot');
  src: url('../fonts/sourcesanspro_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro_light-webfont.woff') format('woff'), url('../fonts/sourcesanspro_light-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro_light-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_probold';
  src: url('../fonts/sourcesanspro_bold-webfont.eot');
  src: url('../fonts/sourcesanspro_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro_bold-webfont.woff') format('woff'), url('../fonts/sourcesanspro_bold-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro_bold-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_proitalic';
  src: url('../fonts/sourcesanspro_italic-webfont.eot');
  src: url('../fonts/sourcesanspro_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sourcesanspro_italic-webfont.woff') format('woff'), url('../fonts/sourcesanspro_italic-webfont.ttf') format('truetype'), url('../fonts/sourcesanspro_italic-webfont.svg#source_sans_prolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'philosopherregular';
  src: url('../fonts/philosopher-regular-webfont.eot');
  src: url('../fonts/philosopher-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/philosopher-regular-webfont.woff') format('woff'), url('../fonts/philosopher-regular-webfont.ttf') format('truetype'), url('../fonts/philosopher-regular-webfont.svg#philosopherregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*@font-face {
  font-family: 'lato-italic';
  src: url('../fonts/lato-italic-webfont.eot');
  src: url('../fonts/lato-italic-webfont?#iefix') format('embedded-opentype'),
       url('../fonts/lato-italic-webfont.woff') format('woff'),
       url('../fonts/lato-italic-webfont.ttf') format('truetype'),
       url('../fonts/lato-italic-webfont.svg#sf_comic_script_condensedRg') format('svg');
  font-weight: normal;
  font-style: normal;
}*/