html{
  font-size: 100%;
  body{
    background-color: @primaryBackgroundColor;
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none;
    }
    font-size: 100%;
    color: @primaryTextColor;
  }
}
.setRadius(@radius:10px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.setRadiusLeft(@radius:10px){
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-bottom-left-radius: @radius;
  -ms-border-bottom-left-radius: @radius;
  -o-border-bottom-left-radius: @radius;
  border-bottom-left-radius: @radius;

  -webkit-border-top-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
  -ms-border-top-left-radius: @radius;
  -o-border-top-left-radius: @radius;
  border-top-left-radius: @radius;
}
.setRadiusRight(@radius:10px){
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-bottom-right-radius: @radius;
  -ms-border-bottom-right-radius: @radius;
  -o-border-bottom-right-radius: @radius;
  border-bottom-right-radius: @radius;

  -webkit-border-top-right-radius: @radius;
  -moz-border-top-right-radius: @radius;
  -ms-border-top-right-radius: @radius;
  -o-border-top-right-radius: @radius;
  border-top-right-radius: @radius;
}
.setBackgroundImage(@imgName, @x:0, @y:0,@repeat:no-repeat){
  background-image:url("../images/@{imgName}");
  background-repeat:@repeat;
  background-position: @x @y;
}
.removeBoxShadow{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border:none;
}
.screen-reader-text {
  display:block;
  overflow:hidden;
  width: 1px;
  height: 1px;
  text-indent: -99em;
}
