@lato-bold: "lato-bold", Arial;
@lato-italic: "lato-italic", Arial;
@lato-light-italic: "lato-light-italic", Arial;
//@lato-regular: "lato-regular", Arial;
//@sans-regular: "source_sans_proregular", Arial;
//@sans-light: "source_sans_prolight", Arial;
//@sans-bold: "source_sans_probold", Arial;
//@sans-italic: "source_sans_proitalic", Arial;
//@philosopher-regular: "philosopherregular", Arial;

@screenWidth: 1024;
@screenHeight: 660;
@fontMainHeader: "source_sans_prolight", Arial;
@fontBtn1st: "source_sans_proregular", Arial;
@border1st: 1px solid @primaryTextColor;

@fontNavigation: "lato-bold", Arial;
