div(data-ng-controller="MainCtrl")
  div.container(data-ng-hide="true")
    div.loading
  div.container(data-ng-cloak)
    div(data-ng-hide="ready")
      div.loading
    div.initialiseWrapper(data-ng-show="ready")
      div(data-ui-view)