mixin ie(condition)
  | <!--[!{condition}]>
  block
  | <![endif]-->

doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    //-link(rel="shortcut icon", type="image/x-icon", href="assets/images/favicon.ico")
    link(rel="stylesheet", href="assets/css/style.css", type="text/css")
    title js-template
    script(type="text/javascript", src="assets/js/deploy/ie8fix.js")
  body
    include app/app
    if deploy
      script(type="text/javascript", src="assets/js/deploy/main.js")
      //IE conditional comments
      //+ie('if IE 8')
      //  script(type="text/javascript", src="assets/js/deploy/ie8fix.js")
    else
      script(type="text/javascript", data-main="assets/js/app/main", src="assets/js/lib/require.js")
      //if IE 8
        script(type="text/javascript", data-main="assets/js/app/fix/ie8fix", src="assets/js/lib/require.js")
